---
const { title } = Astro.props;
---

<div class="p-6 bg-white rounded-lg shadow-lg flex-auto">
	<div class="font-semibold text-lg">{title}</div>
	<div class="font-medium text-gray-600">
		<slot />
	</div>
</div>
