---
interface Props {
    title?: string;
    description?: string;
}

const { title = "Mathum", description = "Mathum" } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
        <meta name="description" content={description} />
    </head><body>
        <slot />
    </body><div style="height: 24px"></div>
</html>
